
body {

	background-image: url(image-path('chrystal_ball_with_hands.jpeg'));
	/*background-color: grey;*/
	font-family: helvetica;
}


#container {

	background-color: #eee;
	/*background-color: white;*/
	
	width: 800px;
	margin: 0 auto;

}


h1 {

	color: blue;

}


table { 

	color: black;

}


th {

color: green;


}
