
body {

	background-image: url('website_delivery.jpg');
	background-size: contain;
	/*background-image: url('bigpuzzle.jpg');*/
	/*background-image: url('chrystal_ball_with_hands.jpeg');*/
	/*background-size: contain;*/
	/*background-repeat: no-repeat;*/
	/*background-image: url(image-path('chrystal_ball_with_hands.jpeg'));*/
	/*background-color: grey;*/
	font-family: helvetica, sans-serif;
}


#container {

	/*background-image: url('screens.jpg');*/
	/*background-image: url('chrystal_ball_with_hands.jpeg');*/
	background-size: contain;
	/*opacity: .9;*/
	/*background-color: #eee;*/
	/*background-color: white;*/
	background-color:rgba(255,255,255,0.9);
	width: 500px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 5px;

}


h1 {

	font-family: Prata, 'Doppio One', sans-serif;
	color: blue;

}

h2 {
	color: blue;
}


h3{
	font-family: Prata, Helvetica, 'Doppio One', sans-serif;
}

h3 {
	font-weight: 500;
}

p {
	font-size: 26px;
	font-family: Helvetica, 'Doppio One', sans-serif;
	font-weight: 500;
	font-style: italic;

	}

table { 

	color: black;

}

td {
	font-size: 16px;
}


th {
font-size: 20px;
/*color: green;*/


}
