
<!-- This is my SPLASH / SIGN-UP / SIGN-IN PAGE -->



<%# render 'layouts/logon'   %>



<br/>

<br/>
<h1>What Now</h1>

    


<br/>

<h3>The Websites you want</h3>
<h3>When you want them</h3>


<br/>
<br/>
<h4>  What Now displays the right websites at the right time</h4>
<h4>without you needing to touch your smartphone  </h4>

<br/>





<%# render 'layouts/createuser'   %>




<!-- <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
  <div class="col-xs-6 col-sm-6 col-md-4">.col-xs-6 .col-sm-6 .col-md-4</div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4">.col-xs-6 .col-sm-4 .col-md-4</div>
  <div class="col-xs-6 col-sm-4 col-md-4">.col-xs-6 .col-sm-4 .col-md-4</div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
<!--   <div class="clearfix visible-xs"></div>
  <div class="col-xs-6 col-sm-4 col-md-4">.col-xs-6 .col-sm-4 .col-md-4</div>
</div> --> 



<!-- THIS IS MY EMAIL SIGN-IN -->



<!-- <form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form> -->




<!-- THIS IS MY TIME PICKER -->
 <!-- <div class="input-append bootstrap-timepicker">
<input id="timepicker1" type="text" class="input-small">
<span class="add-on"><i class="icon-time"></i></span>
</div> -->
 
<!-- wiped out script here -->

